
*{
    font-family: "Encode Sans",Arial, sans-serif;
    margin: 0;
}

div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 8px;
}
p{
    margin-top:10px;
    margin-bottom: 1px;
}


@media (max-width: 768px) {
    #total{
        margin: 0;
    }
  
}