*{
    font-family: "Encode Sans",Arial, sans-serif;
}
.row{
    padding: 20px;
}
#total{
    margin: 8px 8%;
    border-radius: 10px;
    border: 1.8px solid #b8b7ca57;
    background-color: rgba(245, 245, 245, 0.603);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: 0.8s;
}
#total:hover{
    background-color: white;
}
@media (min-width: 768px){
    #total:hover{
        scale: 1.01;
    }
}
button{
    border-radius: 8px;
    transition-duration: 0.4s;
    background-color: transparent;
    color: #1CB9F1;
    border: 2px solid #1CB9F1;
}

button:hover {
    background-color:#1CB9F1;
    color: white;
  }
#borrar{
    background-color: transparent;
    color: red;
    border: 2px solid red;
    
}
#borrar:hover {
    background-color:red;
    color: white;
  }
@media (max-width: 768px) {
    #total{
        margin: 0;
    }
  
}