<div class="row justify-content-center" id="total">
    <h1>Experencia laboral</h1>
    <div >
        <button type="button" routerLink="/nuevaexp" *ngIf="isLogged">
            + Agregar
        </button>
    </div>
    
    <table class="table " *ngFor="let Experiencia of exp">
        <thead>
            <tr>
                <th scope="col"><h2>{{Experiencia.anioE}}</h2></th>
                <th scope="col"><h2 style="text-transform: uppercase;">{{Experiencia.nombreE}}</h2></th>
                <th scope="col" *ngIf="isLogged">
                    <button routerLink="/editexp/{{Experiencia.id}}">
                    <i class="bi bi-pencil-square"></i></button>
                    <button (click)="delete(Experiencia.id)" id="borrar"><i class="bi bi-trash"></i></button>
                </th>
            </tr>
        </thead>

        <tbody>
            
            <tr>
            
            <td ><h2>{{Experiencia.cargoE}}</h2></td>
            </tr>

            <tr>
            <td colspan="2">{{Experiencia.descripcionE}}</td>
            </tr>
        </tbody>
    </table>

</div>
