
<div class="row" id="total">
    <div >
        <img 
             src={{persona.img}}
             class="img-fluid "
             id="fotodeperfil"
             alt="Imagen de perfil"> 
     </div>
     <div class="d-flex justify-content-end" >
        <button type="button" routerLink="/editAboutme/1" *ngIf="isLogged">
            + Editar
        </button>
    </div>
   
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="d-flex justify-content-center">Acerca de mí</h1>
        <p class="d-flex justify-content-center">{{persona.descripcion}}</p>
        
    </div>
</div>

