<div >
<div class="row" id="total">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <img 
             src={{persona.img}}
             class="img-fluid "
             id="fotodeperfil"
             alt="Imagen de perfil"> 
     </div>
     <div >
        <button type="button" routerLink="/editAboutme/1" *ngIf="isLogged">
            + Editar
        </button>
    </div>
   
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{persona.descripcion}}</p>
        </span>
    </div>
</div>
</div>
